/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Properties */

:root {
    --color-red: #ff0000;
    --color-green: #008000;
}


/* Utilities */

.container {
    width: 1400px;
    margin: 0 auto;
}

.flex {
    display: flex;
}


/* Generics */

body {
    padding-top: 150px;
    font-family: sans-serif;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: white;
}


/* Header */

header {
    position: fixed;
    background-color: #ff6900;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: white;
}


ul {
    list-style-type: none;
    flex-basis: calc(100% / 3);
}

ul a:hover {
    text-decoration: underline;
    color: black;
}

li {
    display: inline;
}

.icon {
    flex-basis: calc(100% / 3);
    text-align: right;
}

#logo {
    width: 200px;
}
.nav-bar {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-basis: 100%;
}

ul + div {
    flex-basis: calc(100% / 3);
    justify-content: center;
}

/* Main */

.column {
    flex-wrap: wrap;
    gap: 50px 15px;
    padding-bottom: 70px;
}


.card {
    flex-basis: calc(100% / 3 - 10px);
    position: relative;
}

.favorite {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    padding: 10px;
}

.sale {
    background-color: var(--color-red);
}

.sale, .sustainability {
    color: white;
    padding: 3px 5px;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.sale + .sustainability {
    left: 50px;
}

.sustainability {
    background-color: var(--color-green);
}

h4 {
    font-weight: normal;
}

.new-price {
    color: var(--color-red);
    font-weight: bold;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card:hover .img-hover {
    display: inline;
}

.favorite:hover {
    color: red;
}

/* Footer */

footer {
    background-color: #1a1a1a;
}

h5, h6 {
    color: white;
    padding: 10px 0;
}

.flex-column {
    flex-direction: column;
}

.footer-flex div {
    padding-bottom: 15px;
}

.footer-flex a {
    font-size: 14px;
}

.fa-brands {
    color: white;
}

.footer-flex {
    justify-content: space-between;
}