/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Properties */

:root {

}


/* Utilities */

.container {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}


/* Generics */

body {
    padding-top: 90px;
    font-family: sans-serif;
}


/* Header */

header {
    position: fixed;
    background-color: #ff6900;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
}


/* Main */

.column {
    flex-wrap: wrap;
    gap: 10px;
}


.card {
    flex-basis: calc(100% / 3 - 20px);
    border: 1px solid black;
    height: 200px;
}